<%= html_tag(:ul) do %>
  <li>
    <%= html_tag(:a) do %>
      A
      <span>1</span>
    <% end %>
  </li>
  <%= html_tag(:li) do %>
    <%= html_tag(:a) do %>
      B
      <span>2</span>
    <% end %>
  <% end %>
  <%= html_tag(:li) do %>
    <%= html_tag(:a) do %>
      C
      <span>3</span>
    <% end %>
  <% end %>
<% end %>
