= html_tag(:ul) do
  = html_tag(:li) do
    = html_tag(:a) do
      A
      = html_tag(:span) do
        1
  = html_tag(:li) do
    = html_tag(:a) do
      B
      = html_tag(:span) do
        2
  = html_tag(:li) do
    = html_tag(:a) do
      C
      = html_tag(:span) do
        3
